.btn {
    width: 15rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    overflow: hidden;
    padding: 10;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dark);
    background-color: var(--primary);
    cursor: pointer;
}

.input {
    width: 100%;
    height: 2.4rem;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.items {
    color: var(--light);
    width: 100%;
    height: auto;
    box-sizing: border-box;
}