:root {
  --dark: #181818;
  --light: #F0F0F0;
  --primary: #F7FF00;
  --secondary: #EF767A;
  --tertiary: #456990;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: var(--light);
}

.container {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-side,
.right-side {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.right-side {
  background-color: var(--dark);
}

h1 {
  color: var(--secondary);
}

.typed {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--tertiary);
}